parameters:
	ignoreErrors:
		- '#Call to an undefined method React\\Promise\\PromiseInterface::always\(\).#'
		- '#Thrown exceptions in a catch block must bundle the previous exception \(see throw statement line 154\). More info: http:\/\/bit.ly\/bundleexception#'
		- '#Invalid type Throwable|null to throw.#'
	classesAllowedToBeExtended:
		- Exception
		- WyriHaximus\React\Tests\Parallel\AbstractPoolTest

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon