parameters:
	level: max
	ignoreErrors:
		-
			message: '#sleep blocks the event loop#'
			path: ../../src/AbstractPoolTest.php
		-
			message: '#sleep blocks the event loop#'
			path: ../../src/AbstractPoolTest.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime

includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
