parameters:
	level: max
	ignoreErrors:
		-
			message: '#sleep blocks the event loop#'
			path: ../../src/AbstractPoolTest.php
		-
			message: '#sleep blocks the event loop#'
			path: ../../src/AbstractPoolTest.php
		-
			identifier: shipmonk.checkedExceptionInYieldingMethod
			path: ../../src/AbstractPoolTest.php
			count: 4
		-
			identifier: shipmonk.checkedExceptionInCallable
			path: ../../src/AbstractPoolTest.php
			count: 1
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\Tests\AbstractPoolTest
